.header{
  background-color: antiquewhite;
}
.centered{
    width: 70%;
    margin: 30px auto;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .top-right{
    margin-left: 65%;
  }

  .body{
    height: 100vh;
   
  }

