/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: auto; }
body {
     margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
