
<div class="container">
    <form class="example-form" #loginForm="ngForm" (ngSubmit)="loginUser()">
      <small>{{msg}}</small>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput [(ngModel)]="user.email" required name="email" #email="ngModel"
          [class.is-invalid]= "email.invalid && email.touched">
          <div *ngIf="email.errors && (email.invalid && email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email Id is required Field</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid EmailId</small>
          </div>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="user.password" required name="password" #password="ngModel"
            [class.is-invalid]= "password.invalid && password.touched">
            <div *ngIf="password.errors && (password.invalid && password.touched)">
              <small class="text-danger" *ngIf="password.errors.required">Password is required Field</small>
            </div>
          </mat-form-field>
    
        <div class="example-button-row">
            <button mat-raised-button type="submit" color="primary">Login</button>
        </div>

        <div class="newUser">
            <a routerLink = "/register">Forgot Password!</a><br><br>
            <a routerLink = "/register">New User</a>
        </div>
    
      </form>
    </div>
    
