.header {
  background-color: antiquewhite;
}

.content {
  background-color: bisque;
  background-image: url("https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  height: 94vh;
}

.sidebar {
  width: 200px;
}

.top-right {
  margin-left: 65%;
}
.grid-container {
  display: grid;

  padding: 10px;
}

.grid-item {
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.item2 {
  grid-column: 3 / span 35;
  grid-row: 1 / 4;
}

.outlets {
  overflow: scroll;
  height: 470px;
}

::-webkit-scrollbar {
  display: none;
}
