
  
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 28px;
    float: right;
  }
  .container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }

  .top-right{
    margin-left: 65%;
  }
  
  .example-full-width {
    width: 100%;
    
  }

  .header{
    background-color: antiquewhite;
  }

  .body{
    
    height: 100vh;
  }